<div class="page-container">

  
   <mat-card>
  <mat-card-title>Borrow Book</mat-card-title>

  <mat-card-content style="margin-top: 12px;">
    <p *ngIf="loading">Loading...</p>
    <p *ngIf="errorMsg">{{ errorMsg }}</p>

    <form [formGroup]="borrowForm" (ngSubmit)="borrow()" *ngIf="!loading">
      <!-- Member -->
      <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 12px;">
        <mat-label>Select Member</mat-label>
        <mat-select formControlName="memberId">
          <mat-option *ngFor="let m of members" [value]="m.id">
            {{ m.name }} ({{ m.email }})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="borrowForm.get('memberId')?.touched && borrowForm.get('memberId')?.invalid">
          Member is required
        </mat-error>
      </mat-form-field>

      <!-- Book -->
      <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 12px;">
        <mat-label>Select Book</mat-label>
        <mat-select formControlName="bookId">
          <mat-option *ngFor="let b of books" [value]="b.id">
            {{ b.title }} (Available: {{ b.availableCopies }})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="borrowForm.get('bookId')?.touched && borrowForm.get('bookId')?.invalid">
          Book is required
        </mat-error>
      </mat-form-field>

      <!-- Due Date -->
      <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 12px;">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="borrowForm.get('dueDate')?.hasError('pastDate')">
            Due date cannot be in the past
        </mat-error>
        <mat-error *ngIf="borrowForm.get('dueDate')?.touched && borrowForm.get('dueDate')?.invalid">
          Due date is required
        </mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button mat-raised-button color="primary" type="submit">
        Borrow
      </button>
    </form>
  </mat-card-content>
</mat-card>


</div>

