<p *ngIf="loading">Loading book details...</p>
<p *ngIf="errorMsg">{{ errorMsg }}</p>
<div class="page-container">
  <div class="page-title">Book Details</div>
  <div class="section-subtitle">Borrowing info & availability.</div>
<mat-card *ngIf="book">
  <mat-card-title>{{ book.title }}</mat-card-title>
  <mat-card-subtitle>
    {{ book.author }} | {{ book.genre }} | {{ book.publishedYear }}
  </mat-card-subtitle>

  <mat-card-content style="margin-top: 12px;">
    <p><b>Description:</b> {{ book.description }}</p>
    <p><b>Total Copies:</b> {{ book.totalCopies }}</p>
    <p><b>Available Copies:</b> {{ book.availableCopies }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/books">
      ⬅ Back
    </button>

    <button
      mat-raised-button
      color="accent"
      (click)="borrowBook()"
      [disabled]="book.availableCopies === 0"
      style="margin-left: 10px;"
    >
      Borrow Book
    </button>
  </mat-card-actions>
</mat-card>
 </div>