
<div class="page-container">
<mat-card>
  <mat-card-title>Register Member</mat-card-title>

  <mat-card-content style="margin-top: 12px;">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" style="width:100%; margin-bottom: 12px;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width:100%; margin-bottom: 12px;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </mat-card-content>
</mat-card>
</div>