<mat-toolbar color="primary" class="navbar">
  <div class="nav-left">
    <mat-icon>local_library</mat-icon>
    <span class="brand">Library Management</span>
  </div>

  <span class="spacer"></span>

  <button mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</button>
  <button mat-button routerLink="/books" routerLinkActive="active-link">Books</button>
  <button mat-button routerLink="/borrow" routerLinkActive="active-link">Borrow</button>
  <button mat-button routerLink="/return" routerLinkActive="active-link">Return</button>
  <button mat-button routerLink="/members" routerLinkActive="active-link">Members</button>
</mat-toolbar>
